.env
*.pyc
__pycache__/
*.egg-info/
.DS_Store
airflow_logs/
postgres_data/
minio_data/
airflow_postgres_data/

# dbt artifacts
dbt_market_sentinel/target/
dbt_market_sentinel/logs/
dbt_market_sentinel/dbt_packages/
